name: Pull Request

on:
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  build-android:
    permissions:
      contents: read
    uses: ./.github/workflows/android-build.yaml
